name: Create Release
concurrency:
  group: create_release
  cancel-in-progress: true

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  get_release_info:
    name: Get Release Info
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Generate Release Info
        run: |
          version="1.0.0";
          last_version_tag=$(git tag -l --sort=creatordate | grep -E '^([0-9]+\.){3}[0-9]+$' | tail -n1);
          
          if [ -n "$last_version_tag" ]; \
          then git log origin/master --first-parent  --format="%s%n%w(0,4,4)%b" "$last_version_tag".. | grep -v "^$" > patch_notes.txt; \
          sed -i '1s/^/```\n/' patch_notes.txt; \
          new_build_number=$((1+$(echo "$last_version_tag" | grep -oE "[0-9]+$"))); \
          else new_build_number=0; printf '```\nInitial Release' > patch_notes.txt; \
          fi;
          
          new_version_tag="$version"."$new_build_number";
          echo -n $new_version_tag > version.txt;
      - name: Upload
        uses: actions/upload-artifact@v2
        with:
          name: release_info
          path: |
            patch_notes.txt
            version.txt
  
  netframework_build:
    name: Create NetFramework Build
    needs: get_release_info
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        build_target: [Release]
    env:
      OUTPUT_FILE_NAME: DOLToolbox_${{ matrix.build_target }}.zip
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Download Release Info
        uses: actions/download-artifact@v2
      - name: Build
        run: |
          export DOTNET_CLI_TELEMETRY_OPTOUT=1
          assembly_version="$(cat release_info/version.txt)"
          dotnet build -c "${{ matrix.build_target}}" -p:Version="$assembly_version" "DOLToolbox.sln"
      - name: Compress Build Artifacts
        run: |
          (cd ${{ matrix.build_target }} && zip -r ../${{ env.OUTPUT_FILE_NAME }} .)
      - name: Upload Build Output
        uses: actions/upload-artifact@v2
        with:
          name: build_artifacts
          path: |
            ${{ env.OUTPUT_FILE_NAME }}
            
  create_release:
    name: Create Release
    needs: [netframework_build]
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Download artifacts
        uses: actions/download-artifact@v2
      - name: Create Release
        run: |
          new_version_tag=$(cat release_info/version.txt)
          gh release create "$new_version_tag" --title "$new_version_tag" -F release_info/patch_notes.txt build_artifacts/*
        env: 
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
